<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.order.OrderMapper">

	<insert id="save">
		INSERT INTO os_order 
		(id,ctm_id,gen_time,address,receiverName,telephone)
		VALUES
		(#{id},#{ctm_id},#{gen_time},#{address},#{receiverName},#{telephone})
	</insert>
	
	<delete id="delete">
		DELETE FROM os_order
		WHERE id = #{id}
	</delete>
	
	<select id="findById" resultType="Order">
		SELECT * 
		FROM os_order 
		WHERE id = #{id} 
	</select>
	
	<select id="getByCustomer" resultType="Order">
		SELECT *
		FROM os_order
		WHERE ctm_id = #{id}
	</select>
	
	<select id="getAll" resultType="Order">
		SELECT *
		FROM os_order
	</select>
	
	<select id="getOrderBySellerId" resultType="String">
		SELECT DISTINCT(o.id)
		FROM os_order o, os_orderItem oi, os_item i
		WHERE oi.order_id = o.id 
		AND oi.item_id = i.id 
		AND i.user_id = #{id} 
	</select>
	
	<select id="getByIds" resultType="Order">
		SELECT *
		FROM os_order
		WHERE id IN
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>
</mapper>